html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#container {
  width: 100%;
  height: 100%;
}

.game {
  background-color: beige;
  user-select: none;
  -webkit-user-select: none;
  cursor: default;
  width: 100%;
  height: 100%;
  /*  display: flex;
	flex-direction: column;*/
}

.player {
  width: 100%;
  height: 50%;
}

.hand {
  list-style-type: none;
  height: 40%;
  width: 100%;

  max-width: (3 * 75px);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  justify-content: space-around;
  align-items: center;

  padding: 10px 0;
  margin: 0 auto;

  .card {
	z-index: 0;

	&.revealed:hover {
	  z-index: 1;
	  transform: scale(1.5) translate(0px, -20px);
	}
  }

  > li {
	height: 100%;
	max-width: 10%;
	flex-shrink: 1;
	flex-grow: 1;
  }

}

.endTurnButton.playable > button {
  box-shadow: 0px 0px 20px rgb(255, 255, 0);
}

.playable, .endTurnButton.playable.only-option > button {
  box-shadow: 0px 0px 20px rgb(0, 255, 0);

  &:hover {
	box-shadow: 0px 0px 20px rgb(255, 255, 255);
  }
}

.player.top .hand .card.revealed:hover {
  transform: scale(1.5) translate(0px, 20px);
}

.card {
  display: flex;
  flex-direction: column;
  border: black solid 1px;
  background-color: transparent;
  border-radius: 5%;
  width: 75px;
  height: 100%;
  padding: 0;
  background-color: beige;
  margin-left: -100%;

  h1 {
	font-size: 0.8em;
	text-align: center;
	font-family: "Chancery URW";
  }

  .description {
	font-family: sans-serif;
	font-size: 0.8em;
	margin: 0 4px;
	text-align: center;
  }

  .cost {
	margin: -4px 0 0 -4px;
  }

  .health, .durability, .atk {
	margin-bottom: -4px;
  }

  .atk {
	margin-left: -4px;
  }

  .health, .durability {
	margin-right: -4px;
  }
}

.cost, .atk, .health, .durability {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 10px;
  font-weight: bold;
  border: black solid 1px;
  color: white;
  text-shadow: 0px 0px 2px black;
  font-size: 1.2em;
  line-height: 0.95em;
  font-family: serif;
}

.atk {
  background-color: #caab00;
  float: left;
}

.health {
  background-color: #ff6666;
  float: right;
}

.health, .durability {
  &.damaged {
	color: #dd0000;
  }
}

.cost {
  color: white;
  background-color: blue;
  float: left;
}

.durability {
  background-color: darkgray;
  float: right;
}

.stats {
  margin-top: auto;
}

.weapon, .heroPower {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.weapon {
  float: left;
}

.heroPower {
  float: right;

  .cost {
	float: none;
	margin: -8px auto 0 auto;
  }
}

.secret {
  display: block;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 12.5px;
  font-weight: bold;
  line-height: 1.5em;
  color: white;
  background-color: beige;
  border: black solid 1px;
  text-shadow: 0px 0px 1px black;

  &.hunter {
	background-color: green;
  }
  &.mage {
	background-color: orchid;
  }
  &.paladin {
	background-color: gold;
  }
}

.endTurnButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;
  height: 0px;
  float: right;

  button {
	float: right;
	height: 25px;

  }
}

.deck {
  width: 20px;
  height: 100%;
  box-sizing: border-box;
  float: right;
  background-color: beige;

  border: black solid 1px;
  border-radius: 5px;

  &.fatigue {
	background-color: darkorange;
  }
}

.field {
  list-style-type: none;
  width: 100%;
  height: 30%;
  margin: 0 auto;
  padding: 10px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  justify-content: center;
  align-items: center;

  > li {
	flex-shrink: 0;
	flex-grow: 0;
	margin: 0 10px;
	height: 100%;

	> .minion {
	  margin: 0 auto;
	}
  }
}

.field-animation-enter {
  opacity: 0.01;
  width: 0;
  //  transform: translate(0px, -20px);

  &.field-animation-enter-active {
	opacity: 1;
	width: 62px;
	//	transform: translate(0px, 0px);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
}

.field-animation-leave {
  opacity: 1;
  width: 62px;

  &.field-animation-leave-active {
	opacity: 0.01;
	width: 0;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
}

.minion {
  display: inline-block;
  border: black solid 1px;
  width: 60px;
  height: 100%;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
}

.hero {
  margin: 0 15px;
  width: 70px;
  height: 100%;
  border-radius: 60% 60% 0 0 / 70% 70% 0 0;
  border: solid black 1px;
  display: flex;
  flex-direction: column;

  .atk, .health {
	margin-bottom: -4px;
  }

  .atk {
	margin-left: -4px;
  }

  .health {
	margin-right: -4px;
  }

  .secrets {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	list-style-type: none;
	padding-left: 0;
  }
}

.no-entity {
  visibility: hidden;
}

.equipment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
  height: 30%;
  width: 100%;
  margin: 0 auto;

  .name {
	font-family: sans-serif;
	color: white;
	font-size: 0.8em;
	text-shadow: 0px 0px 1px black;
	height: 2.5em;
	padding: 0 20px 0 10px;
	text-align: left;
	line-height: 2.5em;
	background-color: rgba(0, 0, 0, 0.5);
	align-self: center;
	border-radius: 0 20% 20% 0 / 0 50% 50% 0;
  }

  .middle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 1;
	height: 100%;
  }

  > div {
	display: flex;
	align-items: flex-end;
	width: 33%;
	flex-grow: 0;
	height: 100%;

	&:last-child {
	  padding-right: 10px;
	  justify-content: flex-end;
	}
  }
}