@font-face {
  font-family: "Belwe Bd BT";
  src: url("./fonts/Belwe.ttf");
}

@font-face {
  font-family: "Franklin Gothic Condensed";
  src: url("./fonts/FranklinGothic.ttf");
}

#container {
  width: 100%;
  height: 100%;

  .message {
	width: 100%;
	text-align: center;
	font-family: sans-serif;
  }
}

#application {
  height: 100%;
  width: 100%;

  .buttons {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 1.5em;
	font-family: sans-serif;
	padding: 5px;

	a {
	  text-decoration: none;
	  color: inherit;
	  font-weight: bold;

	  small {
		display: inline-block;
		font-size: 0.5em;
		vertical-align: middle;
		margin: -5px 3px 0 0;
	  }
	}
  }

  .game {
	height: calc(100%);
  }
}

.game {
  overflow: hidden;
  background-color: beige;
  width: 100%;
  height: 100%;
}

.game, #application .buttons {
  -webkit-touch-callout: none;
  user-select: none;
  cursor: default;
}

.player {
  width: 100%;
  height: 50%;
}

.helper {
  width: 100%;
  height: 100%;
}

.hand {
  list-style-type: none;
  height: 40%;
  width: (40% + 2 * 15%);

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 10px 0;
  margin: 0 auto;

  > li {
	height: 100%;
	flex-shrink: 1;
	flex-grow: 0;

	.card {
	  z-index: 0;
	  margin: 0 auto;
	}

	&:hover {
	  .card.revealed {
		z-index: 1;
		transform: scale(1.5) translate(0px, -13%);
	  }
	}
  }

}

.entity {
  transition: box-shadow 0.15s, transform 0.15s;

  &.minion, &:not(.playable) {
	// box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  }

  &.target, &.playable.target, &.minion.target {
	filter: drop-shadow(0px 0px 7px rgb(255, 120, 0));
	transform: scale(1.05);
  }

  &.playable {
	filter: drop-shadow(0px 0px 7px rgb(0, 255, 0));
  }

  &.stealth {
	border-color: lightgrey;
  }

  &.divine-shield {
	border-color: gold;
	// @todo figure out stealth+divine shield conflict
  }

  &.frozen {
	box-shadow: 0px 0px 5px 4px #106dff;
  }
}

.endTurnButton.playable > button {
  box-shadow: 0px 0px 10px 1px rgb(255, 255, 0);
}

.endTurnButton.playable.only-option > button {
  box-shadow: 0px 0px 10px 1px rgb(0, 255, 0);
}

.card.dragging {
  visibility: hidden;
}

.card.playable {
  filter: drop-shadow(0px 0px 7px rgb(0, 255, 0));

  &:hover {
	filter: drop-shadow(0px 0px 10px white);
  }

  &.powered-up {
	box-shadow: 0px 0px 10px rgb(255, 220, 0);
  }

  &.combo {
	box-shadow: 0px 0px 20px rgb(255, 255, 100);
  }
}

.card.draggable {
  cursor: grab;
}

.player.top .hand .card.revealed:hover {
  transform: scale(1.5) translate(0px, 13%);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  height: 100%;
  padding: 0;
  margin-left: -100%;

  h1 {
	position: absolute;
	font-size: 0.5em;
	text-align: center;
	font-family: "Belwe Bd BT";
	margin: 0 8%;
	width: 84%;
	top: 52%;
	color: white;
	text-shadow: -1px -1px 0 #000,
	  1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
  }

  div.visuals {
	position: relative;
	img {
	  position: absolute;
	}
	.inhand-minion {
	  width: 78%;
	  top: 6%;;
	  left: 11%;
	  clip-path: ellipse(36% 47% at 50% 50%);
	}
	.inhand-spell {
	  width: 70%;
	  top: 11%;;
	  left: 14%;
	  clip-path: inset(8% 0% 12% 0%);
	}
	.inhand-weapon {
	  width: 67%;
	  top: 11%;;
	  left: 17%;
	  clip-path: circle(50% at 50% 50%);
	}
	.inhand-base, .inhand-legendary {
	  height: 100%;
	}
  }

  .description {
	position: absolute;
	font-family: "Franklin Gothic Condensed", sans-serif;
	font-size: 0.5em;
	margin: 0 16%;
	text-align: center;
	line-height: 1em;
	height: 26%;
	width: 68%;
	top: 66%;

	p {
	  width: 100%;
	  position: absolute;
	  margin: 0;
	  padding: 0;
	  top: 50%;
	  transform: translate(0, -50%);
	}
  }

  .cost {
	top: 8%;
	left: 4%;
  }

  .atk {
	left: 6%;
	top: 84%;
  }

  .health, .durability {
	left: 78%;
	top: 84%;
  }
}

.cost, .atk, .health, .durability {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  color: white;
  text-shadow: 0px 0px 2px black;
  font-size: 1.2em;
  line-height: 0.95em;
  font-family: "Belwe Bd BT", serif;
  text-shadow: -1px -1px 0 #000,
	1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.atk, .health, .durability, .cost {
  &.negative {
	color: #dd0000;
  }
  &.positive {
	color: #29dd4f;
  }
}

.cost {
  color: white;
}

.stats {
  margin-top: auto;
}

.weapon, .heroPower {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: ridge 1px black;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.weapon {
  h1 {
	font-size: 0.7em;
	text-align: center;
	font-family: "Chancery URW";
	margin: 10px auto;
  }
}

.heroPower {
  float: right;

  .cost {
	float: none;
	margin: -8px auto 0 auto;
  }

  &.exhausted {
	background-color: #ccc;
  }
}

.secret {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  line-height: 1em;
  color: white;
  background-color: #666;
  border: black solid 1px;
  text-shadow: 0px 0px 1px black;

  &:not(.exhausted) {
	&.hunter {
	  background-color: green;
	}
	&.mage {
	  background-color: orchid;
	}
	&.paladin {
	  background-color: gold;
	}
  }
}

.endTurnButton {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
  width: 100%;
  height: 0px;
  float: right;

  button {
	float: right;
	height: 25px;

  }
}

.deck {
  width: 20px;
  height: 100%;
  box-sizing: border-box;
  float: right;
  background-color: beige;

  border: black solid 1px;
  border-radius: 5px;

  &.fatigue {
	background-color: darkorange;
  }
}

.field {
  list-style-type: none;
  width: 100%;
  height: 30%;
  margin: 0 auto;
  padding: 10px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 0;
  justify-content: center;
  align-items: center;

  > li {
	flex-shrink: 0;
	flex-grow: 0;
	height: 100%;

	> .minion {
	  margin: 0 auto;
	}
  }
}

.field-animation-enter {
  opacity: 0.01;
  width: 0;
  //  transform: translate(0px, -20px);

  &.field-animation-enter-active {
	opacity: 1;
	width: 62px;
	//	transform: translate(0px, 0px);
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
}

.field-animation-leave {
  opacity: 1;
  width: 62px;

  &.field-animation-leave-active {
	opacity: 0.01;
	width: 0;
	transition-duration: 0.5s;
	transition-timing-function: ease-out;
  }
}

.minion {
  position: relative;
  display: inline-block;
  height: 100%;

  div.visuals {
	position: relative;
	img {
	  position: absolute;
	}
	.inplay-base, .inplay-legendary, .inplay-taunt {
	  height: 100%;
	}
	.inplay-portrait {
	  width: 85%;
	  top: 10%;;
	  left: 7%;
	  clip-path: ellipse(35% 45% at 50% 46%);
	}
	.inplay-legendary {
	  position: absolute;
	  height: 100%;
	}
  }

  > div {

	display: flex;
	flex-direction: column;
	height: 100%;

	.stats {
	  position: realtive;
	  width: 90%;
	  margin: auto auto 0 auto;

	  .atk {
		left: 20%;
		top: 62%;
		font-size: 1.2em;
	  }

	  .health {
		left: 61%;
		top: 62%;
		font-size: 1.2em;
	  }
	}
  }
}

.hero {
  margin: 0 15px;
  width: 70px;
  height: 100%;
  border-radius: 60% 60% 0 0 / 70% 70% 0 0;
  border: ridge black 1px;

  > div {
	display: flex;
	flex-direction: column;
	height: 100%;

	.atk, .health {
	  margin-bottom: -4px;
	}

	.atk {
	  margin-left: -4px;
	}

	.health {
	  margin-right: -4px;
	}

	h1 {
	  font-size: 0.9em;
	  text-align: center;
	  font-family: "Chancery URW";
	  margin: 0 0 10px 0;
	}

	.secrets {
	  height: 20px;
	  display: flex;
	  flex-direction: row;
	  justify-content: space-around;
	  list-style-type: none;
	  margin: -12% 0 10px 0;
	  padding-left: 0;
	}
  }
}

.no-entity {
  visibility: hidden;
}

.equipment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 0;
  height: 30%;
  width: 100%;
  margin: 0 auto;

  .name {
	font-family: sans-serif;
	color: white;
	font-size: 0.8em;
	text-shadow: 0px 0px 1px black;
	height: 2.5em;
	padding: 0 20px 0 10px;
	text-align: left;
	line-height: 2.5em;
	background-color: rgba(0, 0, 0, 0.5);
	align-self: center;
	border-radius: 0 20% 20% 0 / 0 50% 50% 0;
  }

  .middle {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	flex-grow: 1;
	width: 40%;
	height: 100%;
  }

  > div {
	display: flex;
	align-items: flex-end;
	width: 15%;
	flex-grow: 0;
	height: 100%;

	&:last-child {
	  padding-right: 10px;
	  justify-content: flex-end;
	}
  }
}

.tray {
  display: flex;
  flex-direction: row;
  font-family: serify;

  width: 100%;
  height: 16px;
  padding: 1px;
  border-radius: 5px;

  background-color: beige;
  border: black solid 1px;

  > span {
	margin: auto 3px;
	font-size: 0.7em;
	line-height: 1.2em;
  }

  .crystal {
	height: 12px;
	width: 12px;
	margin-right: 2px;
	border-radius: 50%;
	border: white solid 1px;

	&.full {
	  background-color: #1e58ff;
	}

	&.empty {
	  background-color: #000056;
	}
  }
}

/* CLEANUP */

.joust-widget {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.game-widget {
  box-sizing: border-box;
  justify-content: space-between;

  *, *:before, *:after {
	box-sizing: inherit;
  }
}

.joust {
  height: 100%;
  width: 100%;
}

.game {
  height: 100%;
  width: 100%;
}

.scrubber {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
}

.scrubber-history {
  flex: 1;
  border: white solid 1px;
  background-color: gray;
}

.scrubber-time {
  font-family: monospace;
  margin: auto 5px;
}