@scrubber-height: 35px;
@scrubber-inactive-border-color: gray;
@scrubber-inactive-border-width: 1px;
@scrubber-active-border-color: black;
@scrubber-active-border-width: 2px;
@scrubber-seeker-width: 2px;
@scrubber-margin-top: 5px;
@scrubber-component-margin: 4px;

.joust-scrubber {
	height: @scrubber-height;
	display: flex;
	flex-direction: row;
	z-index: 1000;
	margin-top: @scrubber-margin-top;

	button {
		width: @scrubber-height;
	}

	button, select {
		color: black;
		height: @scrubber-height;
		background-color: white;
		border: solid 1px black;
		border-radius: 2px;
		margin: 0 @scrubber-component-margin;

		&:last-child {
			margin-right: 0;
		}

		&:disabled {
			color: gray;
			background-color: #ddd;
			border-color: gray;
		}
	}
}

.joust-scrubber-timeline {
	position: relative;
	flex: 1;
	background-color: white;
	margin: 0 @scrubber-component-margin;
	height: 100%;
	width: 100%;
	border: solid @scrubber-inactive-border-width @scrubber-inactive-border-color;
	border-top: none;
	border-bottom: none;
}

.joust-scrubber-progress {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	z-index: 1002;
	//background-color: #ccc;
	//mix-blend-mode: saturation;
	border-right: solid @scrubber-seeker-width black;

	&.inverse {
		left: auto;
		right: 0;
		border-right: none;
		border-left: solid @scrubber-seeker-width black;
	}
}

.joust-scrubber-turn {
	display: inline-block;
	z-index: 1001;
	height: 100%;
	border-top: solid @scrubber-inactive-border-width @scrubber-inactive-border-color;
	border-bottom: solid @scrubber-inactive-border-width @scrubber-inactive-border-color;
	vertical-align: top;

	padding: 4px 0;
	font-family: sans-serif;

	&.mulligan {
		//background-color: lightgreen;
	}

	&.primary {
		border-bottom-color: @scrubber-active-border-color;
		border-bottom-width: @scrubber-active-border-width;
		//background-color: lighten(dodgerblue, 15);
	}

	&.secondary {
		border-top-color: @scrubber-active-border-color;
		border-top-width: @scrubber-active-border-width;
		//background-color: lighten(crimson, 20);
	}

	&.primary + &.primary, &.secondary + &.secondary {
		border-left: gray dashed 1px;
	}

}
