body, html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: ".SFNSText-Regular";
	-webkit-user-select: none;
	overflow: hidden;
	cursor: default;
}

a {
	text-decoration: none;
	cursor: default;
}

.fill {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
