.deck {
	width: 32px;
	height: 48px;
	background: url(../../image/cardback.jpg) top left no-repeat;
	background-size: 32px 48px;
	display: block;
	text-shadow: 0 0 10px black;
	color: white;
	line-height: 48px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	right: 120px;
	top: 50px;
	position: absolute;
}

.bottom .deck {
	top: auto;
	bottom: 50px;
}
