.health {
	width: 32px;
	height: 48px;
	background: url(../../image/health.png) 50% 50% no-repeat;
	position: absolute;
	top: 50px;
	right: 10px;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 10px black;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
}

.bottom .health {
	top: auto;
	bottom: 50px;
}
