.mana {
	background: url(../../image/mana.png) center center no-repeat;
	width: 62px;
	height: 48px;
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 20px;
	color: white;
	text-shadow: 0 0 10px black;
	font-weight: bold;
	text-align: center;
	line-height: 48px;
}

.bottom .mana {
	top: auto;
	bottom: 50px;
}
