.scrubber {
	height: 24px;
	flex-grow: 1;
	margin-left: 20px;
	background: rgba(0, 0, 0, 0.05);
	position: relative;
}

.scrubber__elapsed {
	height: 24px;
	background: rgba(50, 80, 187, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	float: left;
}

.scrubber__point {
	width: 1px;
	background: rgba(0, 0, 0, 0.05);
	position: absolute;
	top: 0;
	height: 24px;
}

.scrubber__remaining {
	position: absolute;
	right: 10px;
	font-family: sans-serif;
}
